.root {
  min-height: 100vh;
  background-color: var(--purple-500);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .content_w {
    width: 90rem;
    display: flex;
    align-items: center;
    padding: 1.5rem 6.25rem;
    justify-content: space-between;
  }

  .content {
    font-weight: 700;
    font-size: 0.875rem;
    max-width: 23.375rem;
    margin-top: 2rem;
    color: white;
    line-height: 1.725rem;

    a {
      cursor: pointer;
      &:hover {
        color: #4895ef;
      }
    }
  }

  .img {
    width: 43.3125rem;
    height: 28.3125rem;
    background-image: url('/6628893-01.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1024px) {
  .root {
    .content_w {
      flex-direction: column;
      justify-content: inherit;
    }

    .anm_2 {
      margin-top: 2rem;
    }
  }
}