.root {
  padding: 1.5rem 6.25rem;
  display: flex;
  background-color: var(--white);

  @media (max-width: 900px) {
    padding: 1.5rem 2rem;
  }

  .logo {
    min-width: 6.4375rem;
    height: 4.75rem;
    background-image: url('/Logo_vuong.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .copy_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 0.875rem;
  }

  .contact {
    flex: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a + a {
      margin-left: 2rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .root {
    align-items: center;
  }
}