.root {
  display: flex;
  align-items: center;
  padding: 1.5rem 6.25rem;
  position: fixed;
  z-index: 999;
  // top: 0;
  // left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  opacity: 0.9;
  // backdrop-filter: blur(20px);
  // filter: blur(20px);

  @media (max-width: 900px) {
    padding: 1.5rem 2rem;
  }

  .logo {
    min-width: 13.75rem;
    height: 3.0625rem;
    background-image: url('/Logo_ngang.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--white);

    a + a {
      margin-left: 2.6875rem;
    }
  }
}


@media only screen and (max-width: 1024px) {
  .root {
    justify-content: center;
    .nav {
      display: none !important;
    }
  }

}