.root {
  min-height: 100vh;
  background-color: var(--purple-500);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .content_w {
    width: 90rem;
    display: flex;
    align-items: center;
    padding: 1.5rem 6.25rem;
    justify-content: space-between;
  }

  .content {
    margin-top: 3rem;
    min-width: 31rem;
  }

  .img {
    width: 38rem;
    height: 36.75rem;
    background-image: url('/6628881-01.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1024px) {
  .root {
    .content_w {
      flex-direction: column;
      padding: 2rem;
    }

    // .img {
    //   width: 100%;
    // }

    .form {
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: calc(100vw - 2rem);
      padding: 1.5rem 6.25rem;
    }

    .content {
      min-width: auto;
    }
  }
}
